main {
  min-height: 100vh;
  padding-top: 56px;
}

.container-access {
  min-height: 65vh;
}

.container-form-access {
  width: 300px;
}

/* VIEW LIST CLASSIFIEDS */

.card-container-img {
  height: 130px;
  cursor: pointer;
}

.card-image {
  height: 220px;
  object-fit: cover;
}

.card-edit {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.btn-new-classified {
  position: fixed;
  top: 90vh;
  right: calc(50vw - 65px);
}

/* VIEW LIST DETAIL */

.container-detail {
  min-height: calc(100vh - 56px);
}

.detail-img {
  height: 220px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .detail-img {
    height: 460px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .card {
    min-height: 440px;
  }
  .card-container-img {
    height: 260px;
  }
  .card-image {
    height: 260px;
    object-fit: cover;
  }
  .container-form-access {
    width: 400px;
  }
}